packages/
.vs/
*/obj/
*.txt
*.pdb
*.exe
*.dll
*Log.config
!bin/Debug/D/
!/bin/Debug/config
!.config
!.xml
!.shm
!.bmp
!Basler.Pylon.dll
!DALSA.SaperaLT.SapClassBasic.dll
!hAcqGigEVision2.dll
!MENTO_CONTROLLER.dll

!DockPanel.config
!App.config
!packages.config
!halcondotnet.dll
!WeifenLuo.WinFormsUI.Docking.dll
!HslCommunication.dll

